.contact_form tr {
  height: 7rem;
}

.contact_form input[type="text"], textarea {
  width: 480px;
}

.contact_form th {
  width: 150px;
}

.submit_button {
  text-align: center;
}

.submit_button input {
    font-size: 3rem;
    color: #fff;
    background-color: #4d4dff;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    letter-spacing: 0.5rem;
}
.submit_button input:hover {
  opacity: 0.5;
}
